WCFClient/Connected Services/ServiceReference1/IWorkWithBookService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4090/IWorkWithBookService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BookLibrary" />
  <xs:element name="ShowLibrary">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BookLibrary" minOccurs="0" name="books" nillable="true" type="q1:ArrayOfBook" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowLibraryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BookLibrary" minOccurs="0" name="books" nillable="true" type="q2:ArrayOfBook" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BookLibrary" minOccurs="0" name="book" nillable="true" type="q3:Book" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewBookResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBookPrice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BookLibrary" minOccurs="0" name="books" nillable="true" type="q4:ArrayOfBook" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BookLibrary" minOccurs="0" name="book" nillable="true" type="q5:Book" />
        <xs:element minOccurs="0" name="price" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBookPriceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>